* @contentful/team-integrations
apps/*/src @contentful/team-integrations @contentful/team-developer-experience @gavinmatt
apps/*/public @contentful/team-integrations @contentful/team-developer-experience @gavinmatt
