.errorBoudryOuter{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding:96px 24px;
    @media screen and (max-width:767px){
        padding:48px 24px;
    }
    .errorBoudryInner{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        img{
            margin:0 0 24px 0;
        }
        h2{
            color: #161421;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
        }
        p{
            color: #5A657C;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
        .retryErrorButton {
            border-radius: 30px;
            border: 1px solid #036fe3;
            background: #036fe3;
            font-size: 16px;
            color: #fff;
            min-height: 48px;
            padding-top:0;
            padding-bottom: 0;
            padding-left:32px;
            padding-right: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 105px;
            margin:0 auto;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.6s;
            border:0px;
            &:hover {
              color: #fff;
              transition: all 0.6s;
              background: #4096ff;
              border-color: #4096ff;
            }
          }
    }
}