registry=https://registry.npmjs.org/
legacy-peer-deps=true
@orangelogic-private:registry=https://pkgs.dev.azure.com/orangelogic/Development/_packaging/ol-npm-private/npm/registry/

; begin auth token
//pkgs.dev.azure.com/orangelogic/Development/_packaging/ol-npm-private/npm/registry/:_authToken=${NPM_TOKEN}
; end auth token