.TopProductFamilyMain {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  max-width: 100%;
  .TopProductFamilyInner {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 3px 7px -3px rgba(25, 37, 50, 0.1),
      0px 0px 0px 1px rgba(25, 37, 50, 0.1);
    padding: 24px;
    margin: 0 0 0px;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    h4 {
      color: #111b2b;
      font-size: 20px;
      font-style: normal;
      line-height: 32px;
      padding-bottom: 24px;
    }
    p {
      color: #5a657c;
      font-size: 14px;
      font-style: normal;
      line-height: 24px;
    }
    .SetupFreeInner {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .SucessProgressInner {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 30px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        color: #111b2b;
        span {
          padding-left: 0px;
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          width: 10px;
          height: 10px;
          margin-top: 0px;
          &.SetupSucess {
            &::before {
              background-color: #9ed696;
            }
          }
          &.Setupprogress {
            &::before {
              background-color: #98cbff;
            }
          }
        }
      }
    }
  }
  &.DarkTheme {
    .TopProductFamilyInner {
      border: 1px solid #414d63 !important;
    }
  }
}
