.NoDataMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  .NoDataInner {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 35px 10px;
    img {
      margin: 0 auto 0px;
    }
    h3 {
      color: #111b2b;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
    }
  }
}
