.CountCardMAinRow {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 24px 0 0 0;
  .CountCardInnerProd {
    max-width: 49.3333%;
    width: 100%;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 3px 7px -3px rgba(25, 37, 50, 0.1),
      0px 0px 0px 1px rgba(25, 37, 50, 0.1);
    padding: 24px;
    margin: 0 0 0px;
    @media screen and (min-width: 1921px) {
      max-width: 100%;
    }
    &.CountCardInnerProdEmpty {
      background: transparent;
      box-shadow: none;
    }
  }
  &.DarkTheme {
    .CountCardInnerProd {
      border: 1px solid #414d63 !important;
    }
  }
}
