---
name: Auto Merge and Delete Branch

"on":
  pull_request:
    types:
      - closed

permissions:
  contents: write

jobs:
  auto-merge-and-delete:
    runs-on: ubuntu-latest

    if: github.event.pull_request.merged == true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Delete branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
        run: |
          if [ "$BRANCH_NAME" != "main" ]; then
            git push origin --delete "$BRANCH_NAME"
          fi
