---
name: 'Lint Pull Requests'

"on":
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - 'main'

permissions:
  contents: read
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
