---
name: 'release-please dependency-only auto-merge'

"on":
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-merge-dependency-releases:
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Retrieve github token
        id: vault
        uses: hashicorp/vault-action@v2.4.3
        with:
          url: ${{ secrets.VAULT_URL }}
          role: ${{ github.event.repository.name }}-github-action
          method: jwt
          path: github-actions
          exportEnv: false
          secrets: |
            github/token/${{ github.event.repository.name }}-dependabot token | GITHUB_MERGE_TOKEN ;

      - name: Test
        shell: bash
        run: |
          echo hello world
        env:
          GH_TOKEN: ${{ steps.vault.outputs.GITHUB_MERGE_TOKEN }}
