name: CI

on:
  push:
    branches: ['main', 'staging']
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build and Test (no deploy)
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build -- --filter=...[HEAD^1]
      - name: Test
        run: npm run test -- --filter=...[HEAD^1]
