@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Bold.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Thin.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../../public/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
      url('../../../public/fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

